.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.hamburgericon{
    height: 25px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtubelogo{
    height: 20px;
}

.left-section{
    display: flex;
    align-items: center;
}

.middle-section{
    /* background-color: lightcoral; */
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.search-box{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 20px 2px 2px 20px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    
}

.search-box::placeholder{
    font-family: Roboto, Arial;
    font-size: 15px;
    
}

.searchicon{
    height: 25px;

}

.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
    border-radius: 2px 20px 20px 2px ;
}

.search-button,
.voice-button,
.upload-container,
.youtube-apps,
.notification,
.myprofile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-container .tooltip,
.youtube-apps .tooltip,
.notification .tooltip,
.myprofile .tooltip{
    font-family: Roboto,Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-container:hover .tooltip,
.youtube-apps:hover .tooltip,
.notification:hover .tooltip,
.myprofile:hover .tooltip{
    opacity: 1;
}

.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
    
}

.voiceicon{
    height: 24px;
}

.right-section{
    /* background-color: lightgreen; */
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.uploadicon{
    height: 24px;
}

.youtubesicon{
    height: 24px;
}

.notificationicon{
    height: 24px;
}

.mychannelicon{
    height: 32px;
    border-radius: 16px;
}

.notification{
    position: relative;
}

.notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    font-family: Roboto, Arial;
    font-size: 11px;
    background-color: rgb(200, 00, 0);
    color: white;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    border-radius: 10px;
   
}